.login-page {
}

.login-page .title {
	background-color: #a2b9bc;
	text-align: center;
	color: white;
	font-size: 1.6em;
}

.login-page .login-panel {
	margin: 50px auto;
	width: 450px;
	background-color: white;
	border-radius: 5px;
	padding: 0px;
	  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

}

.login-page .login-panel .login-panel-header {
	font-weight: bold;
	background-color: #36486b;
	color:white;
	text-align: center;
	padding: 10px;
	margin:0;
	font-size:1.1em;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	  
	
}

.login-page .login-panel .fields {
}

.login-page .login-panel .fields .fieldset {
	margin-top: 5px;
}

.login-page .login-panel .fields .fieldset label {
	margin-left: 5px;
}

.login-page .login-panel .fields .fieldset input {
	
}

.login-page .login-panel  .panel-footer {
	margin-top:20px;
	border-top: 1px solid lightgray;
	padding: 10px 0px 10px 0px;
	text-align: center;
}

.login-page .login-panel  .panel-footer button {
	
}